version: "3.8"

services:
  student-backend:
    build: ../backend
    container_name: student-backend
    ports:
      - "5000:5000"
    networks:
      - monitor-net
    volumes:
      - studentdb:/app/data

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    networks:
      - monitor-net

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    ports:
      - "9100:9100"
    networks:
      - monitor-net

networks:
  monitor-net:
volumes:
  studentdb: