apiVersion: v1
kind: PersistentVolume
metadata:
  name: studentdb-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "C:/Varshini/DevOps/student-management/backend/data"